<a href="https://colab.research.google.com/github/masangshubham/WAD-College-Practicals/blob/main/B1(subset_and_reshape).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df = pd.read_csv("/content/Amazonbookreviews.csv")
df

,reviewerID,asin,reviewername,helpful,reviewerText,overallRating,Summary,UnixreviewTime,reviewTime
0,A2SUAM1J3GNN3B,23456.0,SNEHA,2,I bought this for my husband who plays the pia...,4.0,SUBWAY SURF,NaN,NaN
1,A2SUAN1J3GNN0C,879877.0,KARTHII,3,good book to read,3.0,PILOT,NaN,NaN
2,A2SUAN1J3GNN7B,23456.0,SHASHANK,3,high cost,2.5,DRIVE IN HEAVEN,NaN,NaN
3,A5SUAN1J3GNN9B,67578.0,NITIN,3,good useof book,2.2,SPORTS HEAVEN,NaN,NaN
4,A1SUAM1J3GNN3B,123.0,PRANOTI,3,I m happy with the book,3.0,HEAVEN OF PEARLS,NaN,NaN
5,BA2345WERSDFRER,236789.0,SHALINI,3,im not happy with the delay of product,3.0,GODS GIFT,NaN,NaN
6,CADERVG3450EREW,NaN,SNEHAL,3,delay in book,3.0,GODESS LIFE,NaN,NaN
7,ASDF345671QWERT,224442.0,SHIKHA,3,Wonderful book,3.0,LIFE OF PIE,NaN,NaN
8,MNHJ879WERFGH,98767.0,AKSHAY,2,The music is at times hard to read because we ...,3.0,INDIA A MASSIVE POWER,NaN,NaN
9,1234ZSDFREQWEG,78761.0,SATISH,2,many errors,5.0,DATA IS DATA,NaN,NaN
10,9345GHIKLFLLED,321456.0,RAJU,2,no mini,4.0,INDIA A MASSIVE POWER,NaN,NaN
11,NaN,876231.0,ROHIT,2,high vat,4.0,FRIENDS HELP,NaN,NaN
12,HGKIUYE345SFDG,987.0,MOHIT,2,the dealer is charged more money,4.0,MOTIVATIONAL,NaN,NaN
13,NIKRT2398701222,234.0,NILESH,2,helpful,3.0,DARK KNIGHT,NaN,NaN
14,MAHI2348900122,124.0,KAILASH,2,staff is good,3.0,HELL OF HELL,NaN,NaN
15,LIHJKD87634O21,156.0,SONAM,2,good buy for money,3.0,DEAA,NaN,NaN
16,SISISWER4657893,876.0,RAJESH,2,money is dis,3.0,DEAR TO ALL,NaN,NaN
17,MIKI23412341QW,123.0,SALMAN,2,stare the raeder,2.0,MOTHER,NaN,NaN
18,AAAJI37DFG378I,987.0,PANKAJ,2,reader is giood,2.0,WINE OF WINE,NaN,NaN
19,FAJI234GAJI987,22456.0,DIPTI,2,faskjas,2.0,INDIA IS MY COUNTRY,NaN,NaN
20,VABI9876ERTT1,9876.0,MANISH,2,fdghi,2.0,ONE FOR ALLL,NaN,NaN
21,NIKI12NIKI1231,3451.0,SHREYA,2,dvdasaewb,4.0,DATA IS DATA,NaN,NaN
22,MIKISDF1232XAD,879.0,AISHWARYA,2,NA,4.0,INDIA A MASSIVE POWER,NaN,NaN
23,GHAU8768QWER,321.0,SUMEET,2,NA,4.0,FRIENDS HELP,NaN,NaN
24,NIKI12NIKI1231,2.0,PRAJWAL,3,NA,4.0,MOTIVATIONAL,NaN,NaN
25,MIKISDF1232XAD,1.0,JACOB,3,0.888888888,4.0,DARK KNIGHT,NaN,NaN
26,GHAU8768QWER,23.0,MARYLS,3,9.666666667,4.0,HELL OF HELL,NaN,NaN
27,BA2345WERSDFRER,11.0,CHRIS,3,helpful,4.0,DEAA,NaN,NaN
28,CADERVG3450EREW,11.0,MORRIS,3,staff is good,4.0,DEAR TO ALL,NaN,NaN
29,ASDF345671QWERT,23.0,HARRY,3,good buy for money,4.0,MOTHER,NaN,NaN
30,MNHJ879WERFGH,21221.0,JOHN,3,money is dis,4.0,WINE OF WINE,NaN,NaN
31,1234ZSDFREQWEG,21.0,VARSHA,3,stare the raeder,4.0,INDIA IS MY COUNTRY,NaN,NaN
32,9345GHIKLFLLED,12212.0,SHRADDHA,3,reader is giood,3.0,ONE FOR ALLL,NaN,NaN
33,NaN,2121.0,SAIF,3,faskjas,3.0,helpful,NaN,NaN
34,HGKIUYE345SFDG,21212.0,KRISSH,3,fdghi,3.0,staff is good,NaN,NaN
35,NIKRT2398701222,21221.0,NEIL,3,8.78E+21,3.0,good buy for money,NaN,NaN
36,MAHI2348900122,22245.0,KANGANA,3,67667,2.0,money is dis,NaN,NaN
37,LIHJKD87634O21,678.0,KHANN,3,3434567,2.0,stare the raeder,NaN,NaN
38,SISISWER4657893,111.0,RIYAA,3,098O,2.0,reader is giood,NaN,NaN
39,8786112GHAUI,223.0,NaN,3,GOOD LUCK,2.0,faskjas,NaN,NaN
40,67FDASAA123,2312.0,NANAJJI,3,BYE MY LOVE,4.0,HELL OF HELL,NaN,NaN
41,ASWER1234,1222.0,PREETI,2,LOVE U,4.0,DEAA,NaN,NaN
42,QWCVFED123,11111.0,DHONI,2,HELLO DEAR,4.0,DEAR TO ALL,NaN,NaN
43,123LKIUHNFG,9800.0,MAHI,2,DAER PLEASE READ BOOK,4.0,MOTHER,NaN,NaN
44,987DFHGJI657,NaN,DDE,2,BOOK,4.0,WINE OF WINE,NaN,NaN

In [ ]:
df.columns

Index(['reviewerID', 'asin', 'reviewername', 'helpful', 'reviewerText',
       'overallRating', 'Summary', 'UnixreviewTime', 'reviewTime'],
      dtype='object')

In [ ]:
df1=df[['reviewerID', 'asin','reviewername']].loc[0:10]
df1

         reviewerID      asin reviewername
0    A2SUAM1J3GNN3B   23456.0        SNEHA
1    A2SUAN1J3GNN0C  879877.0      KARTHII
2    A2SUAN1J3GNN7B   23456.0     SHASHANK
3    A5SUAN1J3GNN9B   67578.0        NITIN
4    A1SUAM1J3GNN3B     123.0      PRANOTI
5   BA2345WERSDFRER  236789.0      SHALINI
6   CADERVG3450EREW       NaN       SNEHAL
7   ASDF345671QWERT  224442.0       SHIKHA
8     MNHJ879WERFGH   98767.0       AKSHAY
9    1234ZSDFREQWEG   78761.0       SATISH
10   9345GHIKLFLLED  321456.0         RAJU

In [ ]:
df2=df[['reviewerID', 'asin','reviewername']].loc[11:20]
df2

         reviewerID      asin reviewername
11              NaN  876231.0        ROHIT
12   HGKIUYE345SFDG     987.0        MOHIT
13  NIKRT2398701222     234.0       NILESH
14   MAHI2348900122     124.0      KAILASH
15   LIHJKD87634O21     156.0        SONAM
16  SISISWER4657893     876.0       RAJESH
17   MIKI23412341QW     123.0       SALMAN
18   AAAJI37DFG378I     987.0       PANKAJ
19   FAJI234GAJI987   22456.0        DIPTI
20    VABI9876ERTT1    9876.0       MANISH

In [ ]:
df3=df[['reviewerID', 'asin','reviewername']].loc[21:30]
df3

         reviewerID     asin reviewername
21   NIKI12NIKI1231   3451.0       SHREYA
22   MIKISDF1232XAD    879.0    AISHWARYA
23     GHAU8768QWER    321.0       SUMEET
24   NIKI12NIKI1231      2.0      PRAJWAL
25   MIKISDF1232XAD      1.0        JACOB
26     GHAU8768QWER     23.0       MARYLS
27  BA2345WERSDFRER     11.0        CHRIS
28  CADERVG3450EREW     11.0       MORRIS
29  ASDF345671QWERT     23.0        HARRY
30    MNHJ879WERFGH  21221.0         JOHN

In [ ]:
merge=pd.concat([df1,df2,df3])
merge

         reviewerID      asin reviewername
0    A2SUAM1J3GNN3B   23456.0        SNEHA
1    A2SUAN1J3GNN0C  879877.0      KARTHII
2    A2SUAN1J3GNN7B   23456.0     SHASHANK
3    A5SUAN1J3GNN9B   67578.0        NITIN
4    A1SUAM1J3GNN3B     123.0      PRANOTI
5   BA2345WERSDFRER  236789.0      SHALINI
6   CADERVG3450EREW       NaN       SNEHAL
7   ASDF345671QWERT  224442.0       SHIKHA
8     MNHJ879WERFGH   98767.0       AKSHAY
9    1234ZSDFREQWEG   78761.0       SATISH
10   9345GHIKLFLLED  321456.0         RAJU
11              NaN  876231.0        ROHIT
12   HGKIUYE345SFDG     987.0        MOHIT
13  NIKRT2398701222     234.0       NILESH
14   MAHI2348900122     124.0      KAILASH
15   LIHJKD87634O21     156.0        SONAM
16  SISISWER4657893     876.0       RAJESH
17   MIKI23412341QW     123.0       SALMAN
18   AAAJI37DFG378I     987.0       PANKAJ
19   FAJI234GAJI987   22456.0        DIPTI
20    VABI9876ERTT1    9876.0       MANISH
21   NIKI12NIKI1231    3451.0       SHREYA
22   MIKISDF1232XAD     879.0    AISHWARYA
23     GHAU8768QWER     321.0       SUMEET
24   NIKI12NIKI1231       2.0      PRAJWAL
25   MIKISDF1232XAD       1.0        JACOB
26     GHAU8768QWER      23.0       MARYLS
27  BA2345WERSDFRER      11.0        CHRIS
28  CADERVG3450EREW      11.0       MORRIS
29  ASDF345671QWERT      23.0        HARRY
30    MNHJ879WERFGH   21221.0         JOHN

In [ ]:
sort = df.sort_values('overallRating',ascending=False)
sort

,reviewerID,asin,reviewername,helpful,reviewerText,overallRating,Summary,UnixreviewTime,reviewTime
9,1234ZSDFREQWEG,78761.0,SATISH,2,many errors,5.0,DATA IS DATA,NaN,NaN
0,A2SUAM1J3GNN3B,23456.0,SNEHA,2,I bought this for my husband who plays the pia...,4.0,SUBWAY SURF,NaN,NaN
21,NIKI12NIKI1231,3451.0,SHREYA,2,dvdasaewb,4.0,DATA IS DATA,NaN,NaN
43,123LKIUHNFG,9800.0,MAHI,2,DAER PLEASE READ BOOK,4.0,MOTHER,NaN,NaN
42,QWCVFED123,11111.0,DHONI,2,HELLO DEAR,4.0,DEAR TO ALL,NaN,NaN
41,ASWER1234,1222.0,PREETI,2,LOVE U,4.0,DEAA,NaN,NaN
40,67FDASAA123,2312.0,NANAJJI,3,BYE MY LOVE,4.0,HELL OF HELL,NaN,NaN
31,1234ZSDFREQWEG,21.0,VARSHA,3,stare the raeder,4.0,INDIA IS MY COUNTRY,NaN,NaN
30,MNHJ879WERFGH,21221.0,JOHN,3,money is dis,4.0,WINE OF WINE,NaN,NaN
29,ASDF345671QWERT,23.0,HARRY,3,good buy for money,4.0,MOTHER,NaN,NaN
28,CADERVG3450EREW,11.0,MORRIS,3,staff is good,4.0,DEAR TO ALL,NaN,NaN
27,BA2345WERSDFRER,11.0,CHRIS,3,helpful,4.0,DEAA,NaN,NaN
26,GHAU8768QWER,23.0,MARYLS,3,9.666666667,4.0,HELL OF HELL,NaN,NaN
25,MIKISDF1232XAD,1.0,JACOB,3,0.888888888,4.0,DARK KNIGHT,NaN,NaN
24,NIKI12NIKI1231,2.0,PRAJWAL,3,NA,4.0,MOTIVATIONAL,NaN,NaN
23,GHAU8768QWER,321.0,SUMEET,2,NA,4.0,FRIENDS HELP,NaN,NaN
22,MIKISDF1232XAD,879.0,AISHWARYA,2,NA,4.0,INDIA A MASSIVE POWER,NaN,NaN
44,987DFHGJI657,NaN,DDE,2,BOOK,4.0,WINE OF WINE,NaN,NaN
12,HGKIUYE345SFDG,987.0,MOHIT,2,the dealer is charged more money,4.0,MOTIVATIONAL,NaN,NaN
11,NaN,876231.0,ROHIT,2,high vat,4.0,FRIENDS HELP,NaN,NaN
10,9345GHIKLFLLED,321456.0,RAJU,2,no mini,4.0,INDIA A MASSIVE POWER,NaN,NaN
8,MNHJ879WERFGH,98767.0,AKSHAY,2,The music is at times hard to read because we ...,3.0,INDIA A MASSIVE POWER,NaN,NaN
4,A1SUAM1J3GNN3B,123.0,PRANOTI,3,I m happy with the book,3.0,HEAVEN OF PEARLS,NaN,NaN
5,BA2345WERSDFRER,236789.0,SHALINI,3,im not happy with the delay of product,3.0,GODS GIFT,NaN,NaN
35,NIKRT2398701222,21221.0,NEIL,3,8.78E+21,3.0,good buy for money,NaN,NaN
34,HGKIUYE345SFDG,21212.0,KRISSH,3,fdghi,3.0,staff is good,NaN,NaN
33,NaN,2121.0,SAIF,3,faskjas,3.0,helpful,NaN,NaN
32,9345GHIKLFLLED,12212.0,SHRADDHA,3,reader is giood,3.0,ONE FOR ALLL,NaN,NaN
7,ASDF345671QWERT,224442.0,SHIKHA,3,Wonderful book,3.0,LIFE OF PIE,NaN,NaN
6,CADERVG3450EREW,NaN,SNEHAL,3,delay in book,3.0,GODESS LIFE,NaN,NaN
13,NIKRT2398701222,234.0,NILESH,2,helpful,3.0,DARK KNIGHT,NaN,NaN
14,MAHI2348900122,124.0,KAILASH,2,staff is good,3.0,HELL OF HELL,NaN,NaN
15,LIHJKD87634O21,156.0,SONAM,2,good buy for money,3.0,DEAA,NaN,NaN
1,A2SUAN1J3GNN0C,879877.0,KARTHII,3,good book to read,3.0,PILOT,NaN,NaN
16,SISISWER4657893,876.0,RAJESH,2,money is dis,3.0,DEAR TO ALL,NaN,NaN
2,A2SUAN1J3GNN7B,23456.0,SHASHANK,3,high cost,2.5,DRIVE IN HEAVEN,NaN,NaN
3,A5SUAN1J3GNN9B,67578.0,NITIN,3,good useof book,2.2,SPORTS HEAVEN,NaN,NaN
18,AAAJI37DFG378I,987.0,PANKAJ,2,reader is giood,2.0,WINE OF WINE,NaN,NaN
36,MAHI2348900122,22245.0,KANGANA,3,67667,2.0,money is dis,NaN,NaN
37,LIHJKD87634O21,678.0,KHANN,3,3434567,2.0,stare the raeder,NaN,NaN
38,SISISWER4657893,111.0,RIYAA,3,098O,2.0,reader is giood,NaN,NaN
39,8786112GHAUI,223.0,NaN,3,GOOD LUCK,2.0,faskjas,NaN,NaN
20,VABI9876ERTT1,9876.0,MANISH,2,fdghi,2.0,ONE FOR ALLL,NaN,NaN
19,FAJI234GAJI987,22456.0,DIPTI,2,faskjas,2.0,INDIA IS MY COUNTRY,NaN,NaN
17,MIKI23412341QW,123.0,SALMAN,2,stare the raeder,2.0,MOTHER,NaN,NaN

In [ ]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
reviewerID,A2SUAM1J3GNN3B,A2SUAN1J3GNN0C,A2SUAN1J3GNN7B,A5SUAN1J3GNN9B,A1SUAM1J3GNN3B,BA2345WERSDFRER,CADERVG3450EREW,ASDF345671QWERT,MNHJ879WERFGH,1234ZSDFREQWEG,...,NIKRT2398701222,MAHI2348900122,LIHJKD87634O21,SISISWER4657893,8786112GHAUI,67FDASAA123,ASWER1234,QWCVFED123,123LKIUHNFG,987DFHGJI657
asin,23456.0,879877.0,23456.0,67578.0,123.0,236789.0,NaN,224442.0,98767.0,78761.0,...,21221.0,22245.0,678.0,111.0,223.0,2312.0,1222.0,11111.0,9800.0,NaN
reviewername,SNEHA,KARTHII,SHASHANK,NITIN,PRANOTI,SHALINI,SNEHAL,SHIKHA,AKSHAY,SATISH,...,NEIL,KANGANA,KHANN,RIYAA,NaN,NANAJJI,PREETI,DHONI,MAHI,DDE
helpful,2,3,3,3,3,3,3,3,2,2,...,3,3,3,3,3,3,2,2,2,2
reviewerText,I bought this for my husband who plays the pia...,good book to read,high cost,good useof book,I m happy with the book,im not happy with the delay of product,delay in book,Wonderful book,The music is at times hard to read because we ...,many errors,...,8.78E+21,67667,3434567,098O,GOOD LUCK,BYE MY LOVE,LOVE U,HELLO DEAR,DAER PLEASE READ BOOK,BOOK
overallRating,4.0,3.0,2.5,2.2,3.0,3.0,3.0,3.0,3.0,5.0,...,3.0,2.0,2.0,2.0,2.0,4.0,4.0,4.0,4.0,4.0
Summary,SUBWAY SURF,PILOT,DRIVE IN HEAVEN,SPORTS HEAVEN,HEAVEN OF PEARLS,GODS GIFT,GODESS LIFE,LIFE OF PIE,INDIA A MASSIVE POWER,DATA IS DATA,...,good buy for money,money is dis,stare the raeder,reader is giood,faskjas,HELL OF HELL,DEAA,DEAR TO ALL,MOTHER,WINE OF WINE
UnixreviewTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reviewTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(45, 9)

In [ ]:
reshape=pd.pivot_table(df,index=['overallRating','helpful'],values='asin')
reshape

                             asin
overallRating helpful
2.0           2          8360.500
              3          5814.250
2.2           3         67578.000
2.5           3         23456.000
3.0           2         20031.400
              3        174749.625
4.0           2        124891.400
              3          2625.000
5.0           2         78761.000